apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flappy-backend.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: flappy-backend
  template:
    metadata:
      labels:
        app: flappy-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 5000
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.env.dbSecretName }}
                  key: {{ .Values.env.dbSecretKey }}
