apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flappybird.fullname" . }}-backend
  namespace: {{ include "flappybird.namespace" . }}
  labels:
    {{- include "flappybird.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: backend
  template:
    metadata:
      labels:
        {{- include "flappybird.labels" . | nindent 8 }}
        app.kubernetes.io/component: backend
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      {{- end }}
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: 5000
              name: http
          env:
            - name: DB_HOST
              value: "{{ .Values.backend.env.dbHost }}"
            - name: DB_PORT
              value: "{{ .Values.backend.env.dbPort }}"
            - name: DB_NAME
              value: "{{ .Values.backend.env.dbName }}"
            - name: DB_USER
              value: "{{ .Values.backend.env.dbUser }}"
            - name: DB_SSL_MODE
              value: "{{ .Values.backend.env.dbSslMode }}"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.secret.name }}
                  key: DB_PASS
          {{- with .Values.backend.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.backend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

