global:
  namespace: flappybird
  imagePullSecrets: []
backend:
  replicaCount: 2
  image:
    repository: docker.io/techikrish/flappybird-backend
    tag: c256977dd443a78fdc7a1e98fd901a6d6cacae60
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5000
  env:
    dbHost: "flappybird-postgres.cghms6gkid1n.us-east-1.rds.amazonaws.com:5432" # Will be set to RDS endpoint from Terraform
    dbPort: "5432"
    dbName: "flappydb"
    dbUser: "flappy" # Or "postgres" - match your Terraform var.db_username
    dbSslMode: "disable" # Changed from "require" to "disable" since SSL not needed
  secret:
    create: false # Changed from true to false - using kubectl instead
    name: flappybird-backend-db
    dbPassword: "" # Not used when crea
  podAnnotations: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
frontend:
  replicaCount: 2
  image:
    repository: docker.io/techikrish/flappybird-frontend
    tag: c256977dd443a78fdc7a1e98fd901a6d6cacae60
    pullPolicy: IfNotPresent
  service:
    type: LoadBalancer
    port: 80
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: flappybird.local
        paths:
          - path: /
            pathType: Prefix
    tls: []
  podAnnotations: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
monitoring:
  enabled: true
  prometheus:
    enabled: true
    image:
      repository: prom/prometheus
      tag: v2.48.0
      pullPolicy: IfNotPresent
    service:
      type: ClusterIP
      port: 9090
    retention: "15d"
    scrapeInterval: "30s"
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
  grafana:
    enabled: true
    image:
      repository: grafana/grafana
      tag: 10.2.0
      pullPolicy: IfNotPresent
    service:
      type: LoadBalancer
      port: 3000
    adminUser: admin
    adminPassword: admin # Change this in production!
    persistence:
      enabled: false
      size: 10Gi
    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
        cpu: "250m"
